{% verbatim %}
    <template id="user-list">
        <div>
            <div class="actions">
                <router-link class="btn btn-default" v-bind:to="{path: '/add-user'}">
                    <span class="fa fa-plus"></span>
                   Add User
                </router-link>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th class="col-sm-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                    <td>
                        <router-link v-bind:to=" { name: 'user-show', params: { user_id : user.ID } }">{{ user.title }} {{ user.firstName }} {{ user.middleInitial }} {{ user.lastName }}</router-link>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.dateOfBirth | formatDate }}</td>
                    <td>
                        <router-link class="btn btn-warning btn-xs" v-bind:to="{name: 'user-edit', params: {user_id: user.ID }}">Edit</router-link>
                        <router-link class="btn btn-danger btn-xs" v-bind:to="{name: 'user-delete', params: {user_id: user.ID }}">Delete</router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </template>
{% endverbatim %}